body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: red ; */
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: right;
}

header a {
    color: #666;
    text-decoration: none;
    margin-left: 20px;
}

header a:hover {
    color: #000;
}
.logo {
    display: block;
    margin: 100px auto 20px;
    width: 272px;
    height: 92px;
    background-image: url('Images/googlelogo_color_272x92dp.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.search-container {
    display: flex;
    padding: 100px;
    justify-content: center;
    margin-bottom: 30px;
}
.imputDiv{
    border: 1px solid black;
    border-radius: 10px;
    width: 600px;
    border-radius: 43px;
}
.search-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0;
}

.search-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    margin-top: 240px;
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

.input-field {
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
    transition: border-color 0.3s;
    width: 500px;
    font-size: 16px;
}

.input-field:focus {
    outline: none;
    border-color: transparent;
}
.mainFooterDiv{
    display: flex;
    justify-content: space-between;
}
.mainFooterDivOne{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}
.joj0{
}
#ihihi{

}